exportClasses(SLRMss)

exportMethod(envplot)
importFrom("graphics", "lines", "points")
importFrom("methods", "missingArg")
importFrom("stats", "as.formula", "coef", "fitted", "model.matrix",
             "nlm", "nlminb", "optim", "pchisq", "qqnorm", 
             "quantile", "residuals", "rnorm", "rt", "sd")
importFrom("ssym","ssym.l")             
importFrom("normalp","rnormp")             
             
S3method(print, SLRMss)
S3method(summary, SLRMss)
S3method(plot, SLRMss)
S3method(coef, SLRMss)
S3method(fitted, SLRMss)
S3method(residuals, SLRMss)
